body {
	display: flex;
 	min-height: 100vh;
 	flex-direction: column;
}

main {
	flex: 1 0 auto;
	padding: 5px;
}

nav a.brand-logo {
	margin-left: 5px;
}

.tiny {
	font-size: 1.3rem !important;
	margin-left: 1rem;
}

.collection-item {
	padding: 10px !important;
}